.card {
  flex: 0 1 calc(33.333% - 20px);
  margin: 10px;
  box-sizing: border-box;
  overflow: hidden;
  height: 700px;
  width: 330px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-body h3{
  padding-bottom: 10px;
}
.carousel-indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  /* Removes default list formatting / position: absolute; / Allows for absolute positioning / width: 100%; / Ensures the indicators span the full width of the card / bottom: 10px; / Positions the indicators at the bottom of the card */
}

.carousel-indicators li {
  background-color: #007bff;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin: 0 5px;}

.section-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  /* Allows cards to adjust in smaller screens */
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
  width: 300px;
  height: 300px;
  border-radius: 19px 19px 0 0;
  object-fit: cover;
}

.container {
  padding: 2px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* Prevents content from overflowing the container */
}

#bem-estar.carousel-control-prev,
#nutraceuticos.carousel-control-prev,
#capilar-ozonizado.carousel-control-prev {
  left: 10%;
  /* Position from the left / transform: translateY(-50%); / Centers vertically */
}

#bem-estar.carousel-control-next,
#nutraceuticos.carousel-control-next,
#capilar-ozonizado.carousel-control-next {
  right: 10%;
  /* Position from the right / transform: translateY(-50%); / Centers vertically */
}

.titlle-product{
  text-align: center;
  padding: 5px;
}

.card-body p{
  font-size: 15px;
  max-height: 300px;
  overflow: auto;
}
@media (max-width: 600px) {
  .card {
    flex: 0 1 calc(100% - 20px); /* Ocupa 100% da largura em telas pequenas */
    width: 350px;
    height: 700px; /* Ajusta a altura automaticamente */
  }

  .section-row {
    flex-direction: column; /* Empilha os cards verticalmente em telas pequenas */
  }
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}